doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title CSS3 Dice
    link(rel="stylesheet", href="./dist/css/app.css")
  body
    .stage
      .dice
        .face.face-1
          .pip
        .face.face-2
          .pip
          .pip
        .face.face-3
          .pip
          .pip
          .pip
        .face.face-4
          .col
            .pip
            .pip
          .col
            .pip
            .pip
        .face.face-5
          .col
            .pip
            .pip
          .col
            .pip
          .col
            .pip
            .pip
        .face.face-6
          .col
            .pip
            .pip
            .pip
          .col
            .pip
            .pip
            .pip
